<!--program to contain game logic for wavelength 2.0
this is where the host will land so they control the game-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Wavelength 2.0 host screen {{room_code}}</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Enter this code to join: {{room_code}}</h1>
        <p>Waiting for players to join... </p>
    </div>

    <div class="container">

        <h1>Players in room: </h1>
        <ul id="player-list">
            <!--not sure whether this is going to update yet
            it is currently looping through rooms[room_code] 
            and giving two more lists, players, and answers, 
            which are empty-->
            {% for player in players %}
                <li>{{player}}</li>
            {% endfor %}
        </ul>

        <div class="text-center" style="margin-top:30px;">
            <btn class="btn btn-success">Start Game</btn>
        </div>

    </div>
    <script src="https://cdn.socket.io/4.0.0.socket.io.min.js"></script>
    <script>
        const socket = io()

        //join the socket.io room that the players are in and tell everyone about it
        socket.emit('join_room','{{ room_code }}')

        //refresh the page when a new player joins
        socket.on('update_player_list', ()=> {
            location.reload();
        })
    </script>
</body>
</html>